html{
   margin: 0px;
    padding: 0px;
    }
    
body{
    font-family: georgia, serif;
    
    background-image: url("back2.jpg");
    color: white;
    width:100%;
    margin: 0px;
    padding: 0px;
}


/*Menu at top of every page*/
h1{
    font-size: 70px;
    text-align: center;
    font-family: "Courier New";
}
hr {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
p.menu{
    font-size: 20px;
    font-family: "Courier New";
    text-align: center;
    color: white;
}

img.CCL{
 width:55px;
 height:15px;
}


/*LINKS*/
a{
    color:white;
}
/* visited link */
a:visited {
    color: black;
}
/* mouse over link */
a:hover {
    color: black;
}
/* selected link */
a:active {
    color: white;
    }



h2{
    font-size: 25px;
    text-align: left;
}

p{
    font-size: 16px;
}

div.img{
    width: 90%;
    padding-left:5%;
    padding-right:5%;
    margin-top:2%;
    margin-bottom: 2%;
}
img.vis{
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    background:white;
    }
    
div.main{font-family: georgia, serif;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top:1%;    
    padding-bottom: 1%;
    width:75%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom:2%;
}

div.main2{
   text-align: left;
   letter-spacing: 2px;
   line-height: 1.5;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: goldenrod;
}

div#svg{
    background: #f9f9ef;
    width: 96%;
    margin-left:2%;
    margin-right:2%;
    margin-top:5px;
    margin-bottom:5px;
}

svg{
    width:103%;
}

table, th, td {
    border: 1px solid black;
    text-align:center;
}

div.personography{
    text-align: left;
   letter-spacing: 1.8px;
   line-height: 1.5;
   padding-right:0.5%;
   padding-left:0.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: goldenrod;
    
}

h2.personography, h3.personography{

    text-align:center;
}

table#personography{
    font-size:12px;
    background:goldenrod;
}

ul{
    list-style-type:none;
    padding:0.3px;
    margin:0;
}