html{
   margin: 0px;
    padding: 0px;
    }
body.menu{
    width:100%;
    margin: 0px;
    padding: 0px;
}

/*Menu at top of every page*/
h1{
    font-size: 70px;
    text-align: center;
    font-family: "Courier New";
}
hr {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
p.menu{
    font-size: 20px;
    font-family: "Courier New";
    text-align: center;
    color: white;
}


/*LINKS*/
a{
    color:white;
}
/* visited link */
a:visited {
    color: #d2a679;
}
/* mouse over link */
a:hover {
    color: #d2a679;
}
/* selected link */
a:active {
    color: #d2a679;
    }
    