html{
   margin: 0px;
    padding: 0px;
    }
    
body{
    font-family: georgia, serif;
    background-image: url("back2.jpg");
    color: white;
    width:100%;
    margin: 0px;
    padding: 0px;
}


/*Menu at top of every page*/
h1{
    font-size: 70px;
    text-align: center;
    font-family: "Courier New";
}
hr {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
p.menu{
    font-size: 20px;
    font-family: "Courier New";
    text-align: center;
    color: white;
}
img.CCL{
 width:55px;
 height:15px;
}


/*LINKS*/
a{
    color:white;
}
/* visited link */
a:visited {
    color: black;
}
/* mouse over link */
a:hover {
    color: black;
}
/* selected link */
a:active {
    color: white;
    }



h2{
    font-size: 25px;
    text-align: left;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
}

div.lyrics{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: goldenrod;
}

div.song{
    font-family: georgia, serif;
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    padding-top:1%;
    padding-bottom: 1%;
}

l{
    font-size: 18px;
}

div.sp{
    padding-right: 25%;
}

div.simulatneous{
    padding-left:5%;
}

fieldset {
    font-size: 18px;
    line-height: 1;
    width: 8%;
    float:right;
    padding: 10px;
    margin-top: 100px;
    margin-right: 5px;
    position:fixed;
    right:20%;
    background:goldenrod;
    color: white;
    border-color: black;
}
span.placeName.on {color:#ffee6d;font-weight: bold;}
span.persName.on {color:#bb0000;font-weight: bold;}
span.date.on {color:#e6e6e6;font-weight: bold;}
span.phr.on {color:#0033cc; font-weight: bold;}

h4.castList{
    margin-bottom:-10px;
    
}