html{
   margin: 0px;
    padding: 0px;
    background-image:url("back2.jpg");
    background-repeat: repeat;
    background-size: 100%;
    }
    
body{
    font-family: georgia, serif;
    color: white;
    width:100%;
    margin: 0px;
    padding: 0px;
}


/*Menu at top of every page*/

h1{
    font-size: 70px;
    text-align: center;
    font-family: "Courier New";
    color:black;
}

div.topnav{
    font-size: 20px;
    font-family: "Courier New";
    text-align: center;
    color: white;
    padding: 10px;
}

img.CCL{
    width: 55px;
    height: 15px;
}

hr {
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

.topnav{
    overflow: hidden;
    background-color: black;
}

.topnav a{
    float: none;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover{
    background-color: #705410;
    color: black;
}

.topnav a.active{
    background-color: #f2dca6;
    color: black;
}

/*LINKS*/
a{
    color: black;
}

/* mouse over link */
a:hover{
    color: #705410;
}
/* selected link */
a:active{
    color: white;
}

h2{
    font-size: 30px;
    text-align: center;
}

h3{
    font-size:25px;
    text-align: left;
}

ul{
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 1px;
}

li{
    line-height: 1.5;
}

div.index{
    font-family: georgia, serif;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    background: #f2dca6;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

div.index2{
   text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
div.description {
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    
    color: black;
    text-align:center;
}

img{
    width: 30%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background:white;
}