html{
   margin: 0px;
    padding: 0px;
    }
    
body{
    font-family: georgia, serif;
    
    background-image: url("back2.jpg");
    color: white;
    width:100%;
    margin: 0px;
    padding: 0px;
}


/*Menu at top of every page*/
h1{
    font-size: 70px;
    text-align: center;
    font-family: "Courier New";
}
hr {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
p.menu{
    font-size: 20px;
    font-family: "Courier New";
    text-align: center;
    color: white;
}

img.CCL{
 width:55px;
 height:15px;
}


/*LINKS*/
a{
    color:white;
}
/* visited link */
a:visited {
    color: black;
}
/* mouse over link */
a:hover {
    color: black;
}
/* selected link */
a:active {
    color: white;
    }



h2{
    font-size: 25px;
    text-align: left;
}

ul{
    font-size: 16px;
    line-height:1.5;
    letter-spacing: 1px;
}

div.index{font-family: georgia, serif;
    color: black;
    padding-left: 15%;
    padding-right: 15%;
    padding-top:1%;
    padding-bottom: 1%;
}

div.index2{
   text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: goldenrod;
}
div.description {
    font-size: 16px;
    line-height: 1.2;
    width: 20%;
    float:right;
    padding: 10px;
    margin-top: 50px;
    position:fixed;
    right:17%;
    background:tan;
    color: black;
}