html{
   margin: 0px;
    padding: 0px;
    background-image:url("back2.jpg");
    background-repeat: repeat;
    background-size: 100%;
    }
    
body{
    font-family: georgia, serif;
    color: white;
    width:100%;
    margin: 0px;
    padding: 0px;
}


/*Menu at top of every page*/

h1{
    font-size: 70px;
    text-align: center;
    font-family: "Courier New";
    color:black;
}

div.topnav{
    font-size: 20px;
    font-family: "Courier New";
    text-align: center;
    color: white;
    padding: 10px;
}

img.CCL{
    width: 55px;
    height: 15px;
}

hr {
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

.topnav{
    overflow: hidden;
    background-color: black;
}

.topnav a{
    float: none;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover{
    background-color: #705410;
    color: black;
}

.topnav a.active{
    background-color: #f2dca6;
    color: black;
}

/*LINKS*/
a{
    color: black;
}

/* mouse over link */
a:hover{
    color: #705410;
}
/* selected link */
a:active{
    color: white;
}



h2{
    font-size: 25px;
    text-align: left;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 1%;
}

div.lyrics{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size:18px;
}

div.song{
    font-family: georgia, serif;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    float: left;
    background: #f2dca6;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

div.sp{
    padding-right: 25%;
}

div.simulatneous{
    padding-left:5%;
}

fieldset {
    font-size: 18px;
    line-height: 1;
    width: 8%;
    float:right;
    padding: 10px;
    margin-top: 100px;
    margin-right: 5px;
    position:fixed;
    right:20%;
    background:#f2dca6;
    color: #705410;
    border-color: #705410;
}
span.placeName.on {color:#862d86;font-weight: bold;}
span.persName.on {color:#bb0000;font-weight: bold;}
span.date.on {color:#669900;font-weight: bold;}
span.phr.on {color:#0033cc; font-weight: bold;}

h4.castList{
    margin-bottom:-10px;
    
}